@media only screen and (max-width: 1025px) {
    /* Section */
    .section__text {
        font-size: 20px;
    }

    .services__item {
        width: 100%;
    }

    .services__text {
        font-size: 16px;
        width: 35%;
        margin: 0 auto;
    }

    /* About */
    .about__text {
        margin-left: 8px;
    }

    .input--width {
        padding: 15px 175px 75px 15px;
    }

    .blog__content {
        width: 39%;
    }

    .blog__text {
        width: 39%;
    }

    .blog__title {
        font-size: 12px;
    }

    .container--adress {
        margin-right: 1px;
        margin-left: 105px;
    }

    .text__btn {
        font-size: 16px;
    }

    .btn--adress {
        text-align: center;
    }

    /* Footer */
    .footer {
        padding: 33px 0;
    }
}

@media only screen and (max-width: 415px) {
    /* Nav */
    .nav {
        display: none;
        flex-direction: column;

        background-color: #c0301c;

        position: absolute;
        top: 70%;
        right: 0;
    }

    .nav.fixed {
        top: 25%;
    }

    .nav.show {
        display: flex;
    }

    .nav__link__works {
        font-size: 14px;
        margin-right: 9px;
    }

    .nav__link {
        padding: 7px 15px;
    }

    .burger {
        display: block;
    }

    /* Head */
    .header__logo {
        font-size: 20px;
    }

    .header__inner {
        padding-top: 30px;
    }

    .header__inner.fixed {
        padding-top: 0px;
    }
    
    /* Intro */
    .intro__title {
        font-size: 35px;
        line-height: 1.3;
    }

    .intro__subtitle {
        font-size: 15px;
        padding: 15px 0;
    }

    .intro {
        height: 75vh;
    }

    .intro::after {
        height: 75vh;
    }

    /* Btn */

    .btn {
        text-align: center;
        font-size: 10px;
    }

    /* Section */

    .section__text {
        font-size: 18px;
    }

    .services__text {
        font-size: 12px;
        width: 50%;
        margin: 0 auto;
    }

    .services__icon {
        margin-bottom: 15px;
    }

    .services {
        margin-top: 50px;
    }

    .section__title {
        padding-top: 60px;
    }

    /* About */
    .about__inner {
        display: block;
    }
    
    .about__text__inner {
        display: block;
    }

    .about__text {
        width: 90%;
        color: #555555;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        margin-top: 45px;
        line-height: 1.5;
        margin: 45px auto;
    }

    .about__item {
        width: 100%;
    }

    .img__bg {
        margin-left: 33px;
    }

    /* Work */
    .works__item {
        display: flex;

        width: 100%;
        max-width: 250px;
        height: 220px;
    }

    .works__title {
        font-size: 16px;
    }

    .works__text {
        font-size: 12px;
    }

    .btn--work {
        padding: 3px 12px;
    }

    .work__our__title {
        font-size: 22px;
    }
    /* Blog */

    .blog__img {
        width: 100%;
        height: 200px;
        background-size: cover; 
    }

    .blog__img__second {
        width: 100%;
        height: 200px;
        background-size: cover; 
    }

    .blog__content {
        position: relative;
        width: 100%;
        padding-left: 10px;
    }

    .blog__title {
        font-size: 13px;
    }

    .blog__text {
        position: relative;
        font-size: 12px;
        padding-left: 10px;
        width: 100%;
        margin-top: 11px;
        margin-top: 10px
    }

    .btn__blog {
        position: relative;
        font-size: 11px;
        text-decoration: revert;
        margin-left: 10px;
    }
    /* Place */

    .place__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: normal;

        margin-bottom: 11px;
    }

    .p__text {
        width: 100%;
        font-size: 14px;
    }

    .img__client {
        margin: 2px 30px;
    }

    .img__client:last-child {
        margin-left: 130px;
        margin-top: 9px;
    }

    /* Adress */

    .adress {
        display: block;

        padding-top: 20px;
    }

    .adress__item {
        margin-bottom: 20px;
    }

    .input--width {
        padding: 15px 175px 40px 15px;
    }

    .adress__title {
        padding: 7px 13px 8px 10px;
        font-size: 12px;
    }

    .input__label {
        margin-bottom: 9px;
    }

    .input__group {
        text-align: center;
    }

    .text__btn {
        margin-left: 15px;
    }

    .btn--adress {
        padding: 3px 7px;
    }

    .btn__item {
        margin-left: 28px;
    }
    /* Footer */
    .footer {
        padding: 6px 0;
    }

    .footer__inner::after {
        margin: 11px auto;
    }
}

